/**
 * @license
 * MyFonts Webfont Build ID 3671714, 2018-11-13T00:44:03-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Gilroy by Radomir Tinko font-weight: UltraLightItalic; font-style: normal; v
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/ultra-light-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 *
 * Webfont: Gilroy by Radomir Tinko font-weight: SemiBoldItalic; font-style: normal; v
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/semi-bold-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 *
 * Webfont: Gilroy by Radomir Tinko font-weight: SemiBold; font-style: normal; v
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/semi-bold/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 *
 * Webfont: Gilroy by Radomir Tinko font-weight: UltraLight; font-style: normal; v
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/ultra-light/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 *
 * Webfont: Gilroy by Radomir Tinko font-weight: Regular; font-style: normal; v
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/regular/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 *
 * Webfont: Gilroy by Radomir Tinko font-weight: RegularItalic; font-style: normal; v
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/regular-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 *
 * Webfont: Gilroy by Radomir Tinko font-weight: MediumItalic; font-style: normal; v
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/medium-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 *
 * Webfont: Gilroy by Radomir Tinko font-weight: Medium; font-style: normal; v
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/medium/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 *
 * Webfont: Gilroy by Radomir Tinko font-weight: LightItalic; font-style: normal; v
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/light-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 *
 * Webfont: Gilroy by Radomir Tinko font-weight: Light; font-style: normal; v
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/light/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 *
 * Webfont: Gilroy by Radomir Tinko font-weight: BoldItalic; font-style: normal; v
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/bold-italic/
 * Copyright: Copyright &#x00A9; 2015 by Radomir Tinkov. All rights reserved.
 *
 * Webfont: Gilroy by Radomir Tinko font-weight: Bold; font-style: normal; v
 * URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/bold/
 * Copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3671714
 * Licensed pageviews: 10,000
 *
 * © 2018 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
/* @import url("//hello.myfonts.net/count/3806a2");s */


@font-face {font-family: 'Gilroy';src: url('webfonts/3806A2_0_0.eot');src: url('webfonts/3806A2_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3806A2_0_0.woff2') format('woff2'),url('webfonts/3806A2_0_0.woff') format('woff'),url('webfonts/3806A2_0_0.ttf') format('truetype'),url('webfonts/3806A2_0_0.svg#wf') format('svg'); font-weight: 200; font-style: italic; }


@font-face {font-family: 'Gilroy';src: url('webfonts/3806A2_1_0.eot');src: url('webfonts/3806A2_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3806A2_1_0.woff2') format('woff2'),url('webfonts/3806A2_1_0.woff') format('woff'),url('webfonts/3806A2_1_0.ttf') format('truetype'),url('webfonts/3806A2_1_0.svg#wf') format('svg'); font-weight: 600; font-style: italic; }


@font-face {font-family: 'Gilroy';src: url('webfonts/3806A2_2_0.eot');src: url('webfonts/3806A2_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3806A2_2_0.woff2') format('woff2'),url('webfonts/3806A2_2_0.woff') format('woff'),url('webfonts/3806A2_2_0.ttf') format('truetype'),url('webfonts/3806A2_2_0.svg#wf') format('svg'); font-weight: 600; font-style: normal; }


@font-face {font-family: 'Gilroy';src: url('webfonts/3806A2_3_0.eot');src: url('webfonts/3806A2_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3806A2_3_0.woff2') format('woff2'),url('webfonts/3806A2_3_0.woff') format('woff'),url('webfonts/3806A2_3_0.ttf') format('truetype'),url('webfonts/3806A2_3_0.svg#wf') format('svg'); font-weight: 200; font-style: normal; }


@font-face {font-family: 'Gilroy';src: url('webfonts/3806A2_4_0.eot');src: url('webfonts/3806A2_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3806A2_4_0.woff2') format('woff2'),url('webfonts/3806A2_4_0.woff') format('woff'),url('webfonts/3806A2_4_0.ttf') format('truetype'),url('webfonts/3806A2_4_0.svg#wf') format('svg'); font-weight: 400; font-style: normal; }


@font-face {font-family: 'Gilroy';src: url('webfonts/3806A2_5_0.eot');src: url('webfonts/3806A2_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3806A2_5_0.woff2') format('woff2'),url('webfonts/3806A2_5_0.woff') format('woff'),url('webfonts/3806A2_5_0.ttf') format('truetype'),url('webfonts/3806A2_5_0.svg#wf') format('svg'); font-weight: 400; font-style: italic; }


@font-face {font-family: 'Gilroy';src: url('webfonts/3806A2_6_0.eot');src: url('webfonts/3806A2_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3806A2_6_0.woff2') format('woff2'),url('webfonts/3806A2_6_0.woff') format('woff'),url('webfonts/3806A2_6_0.ttf') format('truetype'),url('webfonts/3806A2_6_0.svg#wf') format('svg'); font-weight: 500; font-style: italic; }


@font-face {font-family: 'Gilroy';src: url('webfonts/3806A2_7_0.eot');src: url('webfonts/3806A2_7_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3806A2_7_0.woff2') format('woff2'),url('webfonts/3806A2_7_0.woff') format('woff'),url('webfonts/3806A2_7_0.ttf') format('truetype'),url('webfonts/3806A2_7_0.svg#wf') format('svg'); font-weight: 500; font-style: normal; }


@font-face {font-family: 'Gilroy';src: url('webfonts/3806A2_8_0.eot');src: url('webfonts/3806A2_8_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3806A2_8_0.woff2') format('woff2'),url('webfonts/3806A2_8_0.woff') format('woff'),url('webfonts/3806A2_8_0.ttf') format('truetype'),url('webfonts/3806A2_8_0.svg#wf') format('svg'); font-weight: 300; font-style: italic; }


@font-face {font-family: 'Gilroy';src: url('webfonts/3806A2_9_0.eot');src: url('webfonts/3806A2_9_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3806A2_9_0.woff2') format('woff2'),url('webfonts/3806A2_9_0.woff') format('woff'),url('webfonts/3806A2_9_0.ttf') format('truetype'),url('webfonts/3806A2_9_0.svg#wf') format('svg'); font-weight: 300; font-style: normal; }


@font-face {font-family: 'Gilroy';src: url('webfonts/3806A2_A_0.eot');src: url('webfonts/3806A2_A_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3806A2_A_0.woff2') format('woff2'),url('webfonts/3806A2_A_0.woff') format('woff'),url('webfonts/3806A2_A_0.ttf') format('truetype'),url('webfonts/3806A2_A_0.svg#wf') format('svg'); font-weight: 700; font-style: italic; }


@font-face {font-family: 'Gilroy';src: url('webfonts/3806A2_B_0.eot');src: url('webfonts/3806A2_B_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3806A2_B_0.woff2') format('woff2'),url('webfonts/3806A2_B_0.woff') format('woff'),url('webfonts/3806A2_B_0.ttf') format('truetype'),url('webfonts/3806A2_B_0.svg#wf') format('svg'); font-weight: 700; font-style: normal; }
