@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?shqr2p');
  src:  url('fonts/icomoon.eot?shqr2p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?shqr2p') format('truetype'),
    url('fonts/icomoon.woff?shqr2p') format('woff'),
    url('fonts/icomoon.svg?shqr2p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-resource-factsheet:before {
  content: "\e900";
  color: #407ec9;
}
.icon-resource-annualreport:before {
  content: "\e901";
  color: #407ec9;
}
.icon-resource-website:before {
  content: "\e902";
  color: #407ec9;
}
.icon-resource-template:before {
  content: "\e903";
  color: #407ec9;
}
.icon-resource-research:before {
  content: "\e904";
  color: #407ec9;
}
.icon-resource-report:before {
  content: "\e905";
  color: #407ec9;
}
.icon-resource-newsletter:before {
  content: "\e906";
  color: #407ec9;
}
.icon-resource-case-study:before {
  content: "\e907";
  color: #407ec9;
}
.icon-resource-calculator:before {
  content: "\e908";
  color: #407ec9;
}
.icon-hayreport4:before {
  content: "\e909";
  color: #407ec9;
}
.icon-hamburger-arrow:before {
  content: "\e90a";
  color: #fff;
}
.icon-hamburger-white:before {
  content: "\e90b";
  color: #fff;
}
.icon-hamburger-blue:before {
  content: "\e90c";
  color: #407ec9;
}
.icon-share:before {
  content: "\e90d";
}
.icon-arrowleft:before {
  content: "\e90e";
}
.icon-arrowright:before {
  content: "\e90f";
}
.icon-check:before {
  content: "\e910";
  color: #fff;
}
.icon-chevrondown:before {
  content: "\e911";
}
.icon-chevronleft:before {
  content: "\e912";
}
.icon-chevronright:before {
  content: "\e913";
}
.icon-collapseaccordion:before {
  content: "\e914";
  color: #407ec9;
}
.icon-cow:before {
  content: "\e915";
  color: #407ec9;
}
.icon-cowgrass:before {
  content: "\e916";
  color: #407ec9;
}
.icon-download:before {
  content: "\e917";
}
.icon-email:before {
  content: "\e918";
  color: #407ec9;
}
.icon-expandaccordion:before {
  content: "\e919";
  color: #407ec9;
}
.icon-farmer:before {
  content: "\e91a";
  color: #407ec9;
}
.icon-globe:before {
  content: "\e91b";
  color: #407ec9;
}
.icon-hayreport1:before {
  content: "\e91c";
  color: #407ec9;
}
.icon-hayreport2:before {
  content: "\e91d";
  color: #407ec9;
}
.icon-hayreport3:before {
  content: "\e91e";
  color: #407ec9;
}
.icon-linkexternal:before {
  content: "\e91f";
}
.icon-milk:before {
  content: "\e920";
  color: #407ec9;
}
.icon-search:before {
  content: "\e921";
}
.icon-truck:before {
  content: "\e922";
  color: #407ec9;
}
.icon-resource-videos:before {
  content: "\e923";
  color: #407ec9;
}
.icon-resource-publication:before {
  content: "\e924";
  color: #407ec9;
}
.icon-resource-poster:before {
  content: "\e925";
  color: #407ec9;
}
.icon-resource-manual:before {
  content: "\e926";
  color: #407ec9;
}
