<div class="row flex-column align-items-start flex-row">
  <div class="col-md-12">
    <div class="row align-items-center justify-content-end">
      <div class="col-xs-8 d-md-none  ml-3 mr-auto">
        <a href="/" class="site-logo pb-3">
          <!-- logo should be dynamically updated for each region -->
          <img src="./_assets/images/nav/DA_logo_white.svg" alt="Dairy Australia Logo" />
        </a>
      </div>
       <div class="col-xs-2 d-md-none">
        <!-- Search toggle markup starts -->
            <div w3-include-html="./template-parts/search-toggle.html"></div>
        <!-- Search toggle markup ends -->
        </div>
      <div class="col-xs-2 d-md-none mr-3">
        <button class="global-nav-toggle has-icon icon-right">
          <span class="icon icon-medium icon-hamburger-white ml-2"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div id="fixed-menu-container">
  <div id="fixed-menu-close-overlay" class="global-nav-toggle"></div>
    <div class="row align-items-start">
      <div class="col-12">
        <div class="sidenav-container px-3">
          <div class="row align-items-center justify-content-between">
            <div class="col-xs-8 d-md-none  ml-3 mr-auto">
                <a href="/" class="site-logo pb-3">
                <!-- logo should be dynamically updated for each region -->
                <img src="./_assets/images/nav/DA_logo_white.svg" alt="Dairy Australia Logo" />
                </a>
            </div>
            <div class="col-xs-2 d-md-none">
                <!-- Search toggle markup starts -->
                    <div w3-include-html="./template-parts/search-toggle.html"></div>
                <!-- Search toggle markup ends -->
                </div>
            <div class="col-xs-2 d-md-none mr-3">
                <button class="global-nav-toggle has-icon icon-right">
                <span class="icon icon-medium icon-close-white ml-2"></span>
                </button>
            </div>
          </div>
          <div class="row align-items-center justify-content-center my-3">
            <!-- Region Selector markup starts -->
            <div class="col-12" w3-include-html="./template-parts/region-selector-mobile.html"></div>
            <!-- Region Selector markup ends -->
          </div>
          <div class="row flex-column align-items-start justify-content-start">
            <ul class="sidenav-level1">
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 1
                </a>
              </li>
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 2
                </a>
                <ul class="sidenav-level2 flex-column">
                  <li>
                    <a href="#" class="">
                      Item 2.1
                    </a>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 2.2
                    </a>
                    <ul class="sidenav-level3 flex-column">
                        <li>
                          <a href="#" class="has-icon">
                            Item 2.1
                          </a>
                          <ul class="sidenav-level4">
                              <li>
                                <a href="#" class="">
                                  Item 2.1
                                </a>
                              </li>
                              <li>
                                <a href="#" class="">
                                  Item 2.2
                                </a>
                              </li>
                          </ul>
                        </li>
                        <li>
                          <a href="#" class="has-icon">
                            Item 2.2
                          </a>
                        </li>
                      </ul>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 2.3
                    </a>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 2.4
                    </a>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 2.5
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 3
                </a>
                 <ul class="sidenav-level2 flex-column">
                  <li>
                    <a href="#" class="">
                      Item 3.1
                    </a>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 3.2
                    </a>
                    <ul class="sidenav-level3 flex-column">
                      <li>
                        <a href="#" class="has-icon">
                          Item 3.1
                        </a>
                      </li>
                      <li>
                        <a href="#" class="has-icon">
                          Item 3.2
                        </a>
                        <ul class="sidenav-level4">
                            <li>
                              <a href="#" class="">
                                Item 3.1
                              </a>
                            </li>
                            <li>
                              <a href="#" class="">
                                Item 3.2
                              </a>
                            </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 3.3
                    </a>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 3.4
                    </a>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 3.5
                    </a>
                  </li>
                  <li>
                    <a href="#" class="has-icon sidenav-button">
                      <span class="icon icon-large icon-farmer"></span>
                      Become a member
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 4
                </a>
              </li>
            </ul>
            <ul class="sidenav-level0">
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 1
                </a>
              </li>
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 1
                </a>
              </li>
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 1
                </a>
              </li>
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 1
                </a>
              </li>
            </ul>
          </div>
          <div class="row flex-column align-items-start justify-content-start">
          <div class="horizontal-nav-wrapper">
            <div class="component link-list">
                <div class="component-content">
                    <h3 class="h4">Visit our other sites for:</h3>
                    <ul class="">
                        <li class="item0 odd first d-flex">
                            <div class="field-link">
                                <a href="https://artisan.org.au/" rel class=" has-icon flex-row-reverse ml-3"="noopener noreferrer" data-variantitemid="{6F20F872-4755-4BF0-AD59-B99936387A42}" data-variantfieldname="Link" target="_blank">
                                    <span class="icon icon-small icon-linkexternal"></span>
                                    Consumers
                                </a>
                            </div>
                        </li>
                        <li class="item1 even d-flex">
                            <div class="field-link">
                                <a href="https://www.dairy.com.au/" class=" has-icon flex-row-reverse ml-3" rel="noopener noreferrer" data-variantitemid="{D3D95662-96D6-4979-BC27-F64F8EB49297}" data-variantfieldname="Link" target="_blank">
                                    <span class="icon icon-small icon-linkexternal"></span>
                                    Consumer
                                </a>
                            </div>
                        </li>
                        <li class="item2 odd d-flex">
                            <div class="field-link">
                                <a href="https://www.dairy.edu.au/" class=" has-icon flex-row-reverse ml-3" rel="noopener noreferrer" data-variantitemid="{D49CF81A-8E46-42CF-A753-9BF975228A4A}" data-variantfieldname="Link" target="_blank">
                                    <span class="icon icon-small icon-linkexternal"></span>
                                    Teachers
                                </a>
                            </div>
                        </li>
                        <li class="item3 even last d-flex">
                            <div class="field-link">
                                <a href="https://www.dairy.edu.au/" rel class=" has-icon flex-row-reverse ml-3"="noopener noreferrer" data-variantitemid="{8BA16415-178C-4A0E-9A84-897BE1E62126}" data-variantfieldname="Link" target="_blank">
                                    <span class="icon icon-small icon-linkexternal"></span>
                                    Health Professionals
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
            </div>
        </div>
      </div>
    </div>
</div>