<div class="row flex-column align-items-start flex-row">
  <div class="col-md-12">
    <div class="row align-items-center justify-content-between">
      <div class="col-md-auto">
        <a href="/" class="site-logo pb-30">
          <!-- logo should be dynamically updated for each region -->
          <img src="./_assets/images/nav/DA_logo_blue.svg" alt="Dairy Australia Logo" />
        </a>
      </div>
      <div class="col-md-auto">
        <button class="global-nav-toggle has-icon icon-right">
          <span class="icon icon-medium icon-hamburger-blue ml-2"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div id="fixed-menu-container">
  <div id="fixed-menu-close-overlay" class="global-nav-toggle"></div>
  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="col-md-3 px-0">
        <div class="sidenav-container px-3">
          <div class="row align-items-center justify-content-between">
            <div class="col-md-auto">
              <a href="/" class="site-logo pb-30">
                <!-- logo should be dynamically updated for each region -->
                <img src="./_assets/images/nav/DA_logo_white.svg" alt="Dairy Australia Logo" />
              </a>
            </div>
            <div class="col-md-auto">
              <button class="global-nav-toggle has-icon icon-right">
                <span class="icon icon-medium icon-hamburger-arrow"></span>
                <span class="icon icon-medium icon-hamburger-white ml-2"></span>
              </button>
            </div>
          </div>
          <div class="row flex-column align-items-start justify-content-start">
            <ul class="sidenav-level1">
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 1
                </a>
              </li>
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 2
                </a>
                <ul class="sidenav-level2 flex-column">
                  <li>
                    <a href="#" class="">
                      Item 2.1
                    </a>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 2.2
                    </a>
                    <ul class="sidenav-level3 flex-column">
                        <li>
                          <a href="#" class="has-icon">
                            Item 2.1
                          </a>
                          <ul class="sidenav-level4">
                              <li>
                                <a href="#" class="">
                                  Item 2.1
                                </a>
                              </li>
                              <li>
                                <a href="#" class="">
                                  Item 2.2
                                </a>
                              </li>
                          </ul>
                        </li>
                        <li>
                          <a href="#" class="has-icon">
                            Item 2.2
                          </a>
                        </li>
                      </ul>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 2.3
                    </a>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 2.4
                    </a>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 2.5
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 3
                </a>
                 <ul class="sidenav-level2 flex-column">
                  <li>
                    <a href="#" class="">
                      Item 3.1
                    </a>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 3.2
                    </a>
                    <ul class="sidenav-level3 flex-column">
                      <li>
                        <a href="#" class="has-icon">
                          Item 3.1
                        </a>
                      </li>
                      <li>
                        <a href="#" class="has-icon">
                          Item 3.2
                        </a>
                        <ul class="sidenav-level4">
                            <li>
                              <a href="#" class="">
                                Item 3.1
                              </a>
                            </li>
                            <li>
                              <a href="#" class="">
                                Item 3.2
                              </a>
                            </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 3.3
                    </a>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 3.4
                    </a>
                  </li>
                  <li>
                    <a href="#" class="">
                      Item 3.5
                    </a>
                  </li>
                  <li>
                    <a href="#" class="has-icon sidenav-button">
                      <span class="icon icon-large icon-farmer"></span>
                      Become a member
                    </a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 4
                </a>
              </li>
            </ul>
            <ul class="sidenav-level0">
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 1
                </a>
              </li>
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 1
                </a>
              </li>
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 1
                </a>
              </li>
              <li>
                <a href="#" class="has-icon">
                  <span class="icon icon-medium icon-resource-factsheet"></span>
                  Item 1
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>