<div class="row align-items-center justify-content-end">
    <div class="col-md-auto">
        <div class="horizontal-nav-wrapper">
            <div class="component link-list py-30">
                <div class="component-content d-flex align-items-center justify-content-end flex-wrap">
                    <h3 class="h4 m-0 d-flex mr-3">Visit our other sites for:</h3>
                    <ul class="d-flex m-0 p-0">
                        <li class="item0 odd first d-flex">
                            <div class="field-link">
                                <a href="https://artisan.org.au/" rel class=" has-icon flex-row-reverse ml-3"="noopener noreferrer" data-variantitemid="{6F20F872-4755-4BF0-AD59-B99936387A42}" data-variantfieldname="Link" target="_blank">
                                    <span class="icon icon-small icon-linkexternal"></span>
                                    Consumers
                                </a>
                            </div>
                        </li>
                        <li class="item1 even d-flex">
                            <div class="field-link">
                                <a href="https://www.dairy.com.au/" class=" has-icon flex-row-reverse ml-3" rel="noopener noreferrer" data-variantitemid="{D3D95662-96D6-4979-BC27-F64F8EB49297}" data-variantfieldname="Link" target="_blank">
                                    <span class="icon icon-small icon-linkexternal"></span>
                                    Consumer
                                </a>
                            </div>
                        </li>
                        <li class="item2 odd d-flex">
                            <div class="field-link">
                                <a href="https://www.dairy.edu.au/" class=" has-icon flex-row-reverse ml-3" rel="noopener noreferrer" data-variantitemid="{D49CF81A-8E46-42CF-A753-9BF975228A4A}" data-variantfieldname="Link" target="_blank">
                                    <span class="icon icon-small icon-linkexternal"></span>
                                    Teachers
                                </a>
                            </div>
                        </li>
                        <li class="item3 even last d-flex">
                            <div class="field-link">
                                <a href="https://www.dairy.edu.au/" rel class=" has-icon flex-row-reverse ml-3"="noopener noreferrer" data-variantitemid="{8BA16415-178C-4A0E-9A84-897BE1E62126}" data-variantfieldname="Link" target="_blank">
                                    <span class="icon icon-small icon-linkexternal"></span>
                                    Health Professionals
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-auto">
        <div class="py-30">
            <!-- Region Selector markup starts -->
                <div w3-include-html="./template-parts/region-selector.html"></div>
            <!-- Region Selector markup ends -->
        </div>
    </div>
    <div class="col-md-auto">
        <div class="py-30">
            <!-- Search toggle markup starts -->
                <div w3-include-html="./template-parts/search-toggle.html"></div>
            <!-- Search toggle markup ends -->
        </div>
    </div>
</div>