<button id="region-selector" class="has-icon">
    <span class="icon icon-small icon-mapmarker"></span>
    <span id="region-value">All regions</span>
    <span class="icon icon-small icon-chevrondown icon-white"></span>
</button>
