 <link href="./_assets/fonts/Icomoon/style.css" rel="stylesheet">
  <link href="./_assets/fonts/Gilroy/MyFontsWebfontsKit.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./_assets/styles/main.css" rel="stylesheet">