#header-container {
    background-color: #EDF6F7;
}

.site-logo {
    display: block;
}

.global-nav-toggle {
    border: 0;
    background: transparent;
}

#fixed-menu-container {
    position: fixed;
    top: 0;
    left: -25%;
    width: 100%;
    height: 100vh;
    z-index: -1;
    transition: left 250ms;
    &.nav-opened {
        left: 0;
        z-index: 9;
    }
}

#fixed-menu-close-overlay {
    position: fixed;
    background-color: transparent;
    z-index: 5;
    width: 100%;
    height: 100vh;
}

#body-container,
#footer-container {
    margin-left: 0;
    transition: all 250ms;
    &.nav-opened {
        width: 75%;
        margin-left: 25%;
    }
}

.sidenav-container {
    position: relative;
    top: 0;
    left: 0;
    background: #0C2340;
    height: 100vh;
    transition: left 500ms;
    z-index: 9;
    ul {
        list-style: none;
        flex: 1;
        margin: 0;
        padding: 0;
        width: 100%;
        li {
            a {
                display: flex;
                font-size: 16px;
                line-height: 20px;
                margin-left: 30px;
                padding: 15px 40px;
                margin-right: -1px;
                font-weight: 700;
                align-items: end;
                justify-content: flex-start;
                .icon {
                    margin-right: 10px;
                    &::before {
                        color: white;
                    }
                }
            }
            a.sidenav-button {
                align-items: center;
                width: 75%;
                background: white;
                padding: 20px;
                color: #407EC9;
                margin: 20px 70px;
                justify-content: space-evenly;
                .icon {
                    font-size: 40px;
                    &::before {
                        color: #407EC9;
                    }
                }
            }
        }
    }
}

ul.sidenav-level0,
ul.sidenav-level1 {
    li a {
        color: white;
        &:hover,
        &.active {
            background-color: #dceef1;
            color: #0C2340;
            .icon::before {
                color: #0C2340;
            }
        }
        &.has-children {
            background-image: url("../images/icomoon/chevronright-white.svg");
            background-repeat: no-repeat;
            background-size: auto 30%;
            background-position: 90% 50%;
            &:hover,
            &.active {
                background-image: url("../images/icomoon/chevronright.svg");
            }
        }
    }
}

ul.sidenav-level0 {
    margin-top: 50px;
    li a {
        font-weight: 300;
    }
}

ul.sidenav-level2 {
    position: absolute;
    top: 0;
    left: 100%;
    padding-top: 110px;
    background: #dceef1;
    width: 100%;
    height: 100vh;
    display: none;
    li {
        a {
            color: #0C2340;
            &:hover,
            &.active {
                background-color: #ffffff;
            }
        }
        a.has-children {
            background-image: url("../images/icomoon/chevronright.svg");
            background-repeat: no-repeat;
            background-size: auto 30%;
            background-position: 90% 50%;
        }
    }
}

ul.sidenav-level3 {
    position: absolute;
    top: 0;
    left: 100%;
    padding-top: 110px;
    background: #ffffff;
    width: 200%;
    height: 100vh;
    display: none;
    li {
        a {
            color: #0C2340;
            font-weight: 500;
        }
    }
}

ul.sidenav-level2,
ul.sidenav-level3 {
    &.active {
        display: flex;
    }
}

ul.sidenav-level4 li a {
    color: #595959;
    font-weight: 300;
    padding-left: 80px;
    background-image: url("../images/icomoon/chevronright-grey.svg");
    background-repeat: no-repeat;
    background-size: auto 30%;
    background-position: 40px 50%;
}

// MOBILE NAV STYLE

#header-container-mobile {
    background: #0C2340;

    .site-logo img { width: 120px; }

    #search-toggle {
        background-color: transparent;
        padding: 0px 8px;
    }

    #fixed-menu-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;

        #region-selector {
            background: #407EC9;
            width: 100%;
        }

        .sidenav-container {
            height: auto;
            ul li a {
                margin: 0 auto 10px;
            }

            ul.sidenav-level0 { margin-top: 0; }

            ul.sidenav-level1,
            ul.sidenav-level2,
            ul.sidenav-level3 {
                width: 100% !important;
                height: 100% !important;
            }

            &.level-2-active {left: -100%}
            &.level-3-active {left: -200%}
        }

        .horizontal-nav-wrapper {
            border-top: 1px solid #E5E5E5;
            margin-top: 20px;
            padding: 40px;
            box-sizing: border-box;
            width: 100%;

            * {
                color: white;
            }

            ul li a {
                margin-left: 0 !important;
                padding-left: 0;
                font-weight: 300;
            }
        }
    }

}