* {
    font-family: "Gilroy", sans-serif;
    color: #0C2340;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*:focus {
    outline: 0 !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.font-weight-700 {
    font-weight: 700;
}

.h4 {
    font-size: 16px;
}

.p,
span,
.h6,
.font-weight-400 {
    font-weight: 400;
}

a {
    color: #0C2340;
    text-decoration: none;
    cursor: pointer;
}

a>.icon {
    color: grey;
}

a:hover,
a:hover>* {
    color: #407EC9;
    text-decoration: none;
}


/* Paddings */

.p-30 {
    padding: 30px;
}

.py-30 {
    padding: 30px 0;
}

.px-30 {
    padding: 0 30px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pl-30 {
    padding-left: 30px;
}

.pr-30 {
    padding-right: 30px;
}

.p-40 {
    padding: 40px;
}

.py-40 {
    padding: 40px 0;
}

.px-40 {
    padding: 0 40px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pl-40 {
    padding-left: 40px;
}

.pr-40 {
    padding-right: 40px;
}

.p-70 {
    padding: 70px;
}

.py-70 {
    padding: 70px 0;
}

.px-70 {
    padding: 0 70px;
}

.pt-70 {
    padding-top: 70px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pl-70 {
    padding-left: 70px;
}

.pr-70 {
    padding-right: 70px;
}

.p-100 {
    padding: 100px;
}

.py-100 {
    padding: 100px 0;
}

.px-100 {
    padding: 0 100px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pl-100 {
    padding-left: 100px;
}

.pr-100 {
    padding-right: 100px;
}


/* SVG overrides */

.svg-white {
    fill: white;
}

#body-container {
    background: lightgrey;
    min-height: 80vh;
}

#footer-container {
    background: navy;
    min-height: 50vh;
}