.has-icon {
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
}

.has-icon.flex-row-reverse>.icon {
    margin-left: 10px;
}

.has-icon.flex-row>.icon {
    margin-right: 10px;
}

.icon {}

.icon-small {
    font-size: 14px;
}

.icon-medium {
    font-size: 19px;
}

.icon-large {
    font-size: 25px;
}

.icon-white {
    color: #ffffff;
}

.icon-blue {
    color: #407EC9;
}

.icon-navy {
    color: #0C2340;
}


/* all icons are from icomoon */

.icon-mapmarker {
    background: url("../images/icomoon/mapmarker.svg") no-repeat;
    background-size: contain;
    width: 14px;
    height: 16px;
}

.icon-mapmarker-white {
    background: url("../images/icomoon/mapmarker-white.svg") no-repeat;
    background-size: contain;
    width: 14px;
    height: 16px;
}

.icon-close {
    background: url("../images/icomoon/close.svg") no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}


.icon-close-white {
    background: url("../images/icomoon/close-white.svg") no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}