/* REGION SELECTOR */

#region-selector {
    background: #0C2340;
    padding: 8px 20px;
    border: 0;
}

#region-selector:hover {
    background: #407EC9;
    padding: 8px 20px;
}

#region-selector #region-value {
    color: white;
    font-weight: 600;
}

#region-selector .icon-map-marker {
    margin-right: 10px;
}

#region-selector .icon-chevron-down {
    margin-left: 10px;
}